.s-mini-banner{
    padding: 3.75rem 0;

    .container{
        .grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            height: 39.6875rem;
            gap: .625rem;

            .item{
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: all .5s ease-in-out;
                }

                &:hover{
                    img{
                        transform: scale(1.03);
                    }
                }
            }
        }
    }

    @media (max-width: 998px) {
        padding: 2.5rem 0;
        .container{
            .grid{
                grid-template-columns: 1fr;
                gap: 1rem;
                height: auto;
            }
        }
    }
}