.cart-sidebar{
    position: fixed;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: .3s ease-in-out;

    right: 0;
    background: #ffffff;
    color: #0d0d0d;
    z-index: 300;
    width: 430px;
    max-width: 100%;
    padding: 0 1.5rem;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    .header-cart {
        background: #fff;
        color: #374151;
        display: flex;
        align-items: center;
        padding: 1.5rem 0;
        gap: 1rem;

        .box-prev {
            cursor: pointer;
            color: #374151;

            .icon {
                width: 1.125rem;
                height: 1.125rem;
                fill: #fff;
                display: block;
            }
        }

        .text{
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    .content-cart {
        overflow: auto;
        padding-top: 20px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    .item {
        margin-bottom: 20px;
    }

    .box-cart {
        display: flex;
        align-items: center;

        .box-image {
            width: 84px;
            height: 84px;
            border: 1px solid #f6f6f8;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                max-height: 100%;
                max-width: 100%;
                margin: auto;
            }
        }

        .info-product {
            width: calc(100% - 80px);
            margin-left: 10px;
            padding-right: 20px;
            position: relative;

            a {
                display: block;
                margin-bottom: 8px;
            }

            .remove {
                width: 12px;
                height: 12px;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 0;
            }

            .price {
                font-weight: 700;
            }

            .qnt {
                font-size: .75rem;
            }
            
        }

        .line-top {
            display: flex;
            justify-content: space-between;
        }  
        
    }

    .footer-cart {
        height: 200px;
        margin-top: 15px;
    }

    .content-cart.empty + .footer-cart {
        display: none;
    }

    .footer-cart{
        .text-info {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 1px solid #e4e4e4;
            text-align: right;

            .value {
                font-weight: 700;
                display: block;
            }
        }
        .line {
            margin: 20px 0;
        }
        .link-cart {
            color: #fff;
            text-align: center;
            background: #646464;
            width: 100%;
            display: block;
            border-radius: 30px;
            line-height: 55px;
        }
        .box-prev {
            text-align: center;
            margin-top: 15px;
            cursor: pointer;
        }
    }

.cart-sidebar.active ~ .shadow-cart {
    opacity: .9;
    visibility: visible;
}
}

.shadow-cart {
    width: 100%;
    background-color: rgba(0,0,0,.54);
    left: 0;
    z-index: 11;
    visibility: hidden;

    position: fixed;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: .3s ease-in-out;

    &.active{
        visibility: visible;
        opacity: 1;
    }
}