.s-categorias{
    padding: 3.75rem 0;

    .container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .swiper-slide{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .img{
                height: 17.5rem;
                overflow: hidden;
                border-radius: 1.5rem;

                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                    object-position: center;
                    transition: all .5s ease-in-out;
                }
            }

            h3{
                text-align: center;
                font-size: 1rem;
                font-weight: 400;
                color: var(--c_geral_text);
            }

            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }

    @media (max-width: 998px) {
        overflow: hidden;

        .container{
            .swiper-slide{
                .img{
                    height: auto;
                }
            }
        }
    }
}