.product-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 30.1875rem;
    background-color: #F3F3F3;
    padding: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;

    .tags{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        z-index: 3;

        .item-tag{
            width: fit-content;
            padding: .375rem 1rem;
            border-radius: 9999px;
            background: rgba(255, 255, 255, 0.80);
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
            font-size: .75rem;
            color: #575757;

            &.tagdesconto{
                background: #462E86;
                color: #fff;
            }
        }
    }

    .img-hover{
        width: 95%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;
    }

    .link-img{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .img-product{
            z-index: 2;
            width: 65%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .5s ease-in-out;
        }
    }

    .info-product{
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;

        .d-variants{
            display: flex;
            align-items: center;
            gap: .5rem;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-in-out;

            .circle{
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .info-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h3, h2{
                color: var(--c_produtos_titulos);
                font-size: 1rem;
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 2;       /* limita a 2 linhas */
                -webkit-box-orient: vertical;
                overflow: hidden;

                text-overflow: ellipsis;
                line-height: 1.3;            /* ajuste fino */
                min-height: calc(1.3em * 2); /* garante altura fixa */
            }

            h3{
                max-width: 50%;
            }

            .price{
                color: var(--c_produtos_price);
                font-size: .875rem;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                gap: 0;
                align-items: flex-end;
                text-align: right;

                .pricing-installments{
                    font-size: .75rem;
                    font-weight: 300;
                    text-align: right;
                    margin-top: -10px;
                }

                .pricing-old{
                    font-size: .75rem;
                    text-decoration: line-through;
                }

                .operadora{
                    display: none;
                }
            }
        }
    }

    &:hover{
        .img-hover{
            opacity: 1;
            visibility: visible;
        }

        .img-product{
            width: 69%;
            top: 48%;
        }
        
        .d-variants{
            opacity: 1;
            visibility: visible;
        }
    }

    .addcart{
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: #462E86;
        padding: 1rem 2rem;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3.5rem;
        z-index: 200;
        gap: .5rem;
        cursor: pointer;


        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 500;

        transition: bottom .3s ease;

        svg{
            flex-shrink: 0;
        }

        & .addCart{
            width: 100%;
        }
    }

    &:hover{
        .addcart{
            bottom: 1rem;
        }
    }

    @media (max-width: 998px) {
        height: 24.8125rem;
    }
}