.s-fullbanner{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    z-index: 1;

    .swiper-wrapper{
        position: relative;
        z-index: 1;

        .swiper-slide{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .container{
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 3;

        .swiper-pagination{
            pointer-events: auto;
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            z-index: 5;


            .swiper-pagination-bullet{
                border-radius: 9999px;
                background: rgba(93, 93, 93, 0.32);
                width: .25rem;
                height: 2.5rem;
            }

            .swiper-pagination-bullet-active{
                background: #473089;
            }
        }
    }
}