header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.125rem 0;
    z-index: 200;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.40) 0%, rgba(34, 34, 34, 0.00) 100%);
    backdrop-filter: blur(9.800000190734863px);

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav{
            display: flex;
            gap: 1.5rem;
            width: 20%;

            a{
                color: var(--c_header_text_main);
                transition: all .5s ease-in-out;

                &:hover{
                    opacity: .5;
                }
            }
        }

        .logo-image{
            width: 60%;
            display: flex;
            justify-content: center;
            height: 1.375rem;

            img{
                width: auto;
                height: 100%;
                object-fit: contain;
                object-position: center;
                transition: opacity 0.25s ease;

                &.is-fading {
                    opacity: 0;
                }
            }
        }

        .nav-icons{
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--c_header_icon);
            width: 20%;
            justify-content: flex-end;

            i{
                cursor: pointer;
                transition: all .5s ease-in-out;

                &:hover{
                    opacity: .5;
                }
            }
        }
    }
}