.modal-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 54%);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;

    .container{
        height: 70%;
        background-color: #fff;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.35s ease;

        img{
            width: 10.625rem;
            margin-top: 4rem;
        }

        .forms-search{
            padding: 0 4rem;
            width: 100%;

            form{
                width: 100%;
                
                .d-search{
                    border-radius: 1.5rem;
                    min-height: 3rem;
                    padding: 0 1rem;
                    border: 1px solid #D1D9E5;
                    background: rgba(235, 239, 244, 0.32);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
        
                    input{
                        width: 80%;
                    }
                }

                .suggestion{

                    .suggestion-products{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .suggestion-product{
                            display: flex;
                            align-items: center;

                            > a{
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                            }
                        }
                    }
                }
    
            }
        }

        .grid{
            width: 100%;
            padding: 0 4rem;
            ul{
                display: flex;
                align-items: flex-start;
                width: 100%;
                justify-content: space-between;

                .firstLevel{
                    font-size: .875rem;
                    font-weight: 600;
                    color: #000;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .secondLevel{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .item-secondLevel{
                            font-weight: 300;
                            font-size: .875rem;
                            color: #000;
                            margin-left: 5px;
                            display: flex;
                            align-items: flex-start;
                            gap: .5rem;
                            flex-direction: column;

                            .thirdLevel{
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                padding-left: 5px;

                                > li{
                                    &::before{
                                        content: "-";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-search.active {
    opacity: 1;
    pointer-events: auto;

    .container {
        transform: translateY(0);
        opacity: 1;
    }
}