.s-section-brands{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh; /* espaço total */

    .container{
        position: relative;
    
        .info{
            position: sticky;
            top: 50px;
            width: 100%;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        
            h2{
                color: var(--section_brand_cor_titulo);
                font-size: 2rem;
                font-weight: 500;
                line-height: 120%;
                width: 35%;
            }
        
            p{
                color: var(--section_brand_cor_texto);
                font-size: .875rem;
                font-weight: 400;
                line-height: 150%;
                width: 30%;
            }

            .grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                gap: .625rem;
                margin-top: 8.75rem;

                .item{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 2.5rem 2rem;
                    border-radius: 32px;
                    background: rgba(243, 244, 246, 0.08);
                    backdrop-filter: blur(11.050000190734863px);
                    width: 100%;

                    svg{
                        background-color: #462E86;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3.5rem;
                        height: 3.5rem;
                        padding: 1rem;
                        border-radius: .5rem;
                    }

                    h3{
                        color: var(--section_brand_cor_titulo);
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 120%;
                    }
                
                    p{
                        color: var(--section_brand_cor_texto);
                        font-size: .875rem;
                        font-weight: 400;
                        line-height: 150%;
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* espaço inicial: faz o texto vir de baixo */
.entry-space{
    height: 80vh;
}

/* espaço final */
.spacer{
    height: 100vh;
}
