.s-about{
    padding: 7.5rem 0;

    .container{
        display: flex;
        flex-direction: column;
        gap: 7.5rem;

       .up{
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: .625rem;
            .video{
                width: 100%;
                position: relative;
                height: 31.25rem;
                border-radius: 1.5rem;
                overflow: hidden;

                iframe{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    pointer-events: none; /* impede clique */
                }
            }

            .content{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
                height: 100%;
                padding: 3.5rem 2rem;
                background-color: #F3F3F3;
                border-radius: 1.5rem;

                h2{
                    color: #000;
                    font-size: 2rem;
                    font-weight: 400;
                }

                p{
                    color: #787878;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 140%;
                }

                .btn-purple{
                    width: fit-content;
                    margin-top: 1rem;
                    padding: .75rem 2rem;
                    background-color: #473089;
                    border-radius: 9999px;
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 400;
                    transition: all .5s ease-in-out;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
       }

       .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .625rem;

            .item{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2.5rem 2rem;
                border-radius: 1.5rem;
                background: #F3F3F3;
                backdrop-filter: blur(11.050000190734863px);
                width: 100%;

                svg{
                    background-color: #462E86;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3.5rem;
                    height: 3.5rem;
                    padding: 1rem;
                    border-radius: .5rem;
                }

                h3{
                    color: #000;
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 120%;
                    margin-top: 3rem;
                }
            
                p{
                    color: #787878;
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 150%;
                    width: 50%;
                }
            }
       }
    }
}