@import "reset";
@import "textos";

@import "header";
@import "fullbanner";
@import "showcase";
@import "components";
@import "categoria";
@import "textanimate";
@import "bannervitrine";
@import "bannermini";
@import "bannermarca";
@import "sectionbrand";
@import "sectionabout";
@import "sectionhighlight";

@import "modalsearch";
@import "carrinholateral";

@import "sectionnewsletter";
@import "footer";
@import "menu-bar-mobile";