<section class="s-banner-marcas">
    <div class="container">
        <div class="d-title">
            <h2>Marcas</h2>
        </div>
        <div class="swiper-wrapper">
            {% if settings.banner_marcas_image_1%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_1 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_1) }}" alt="{{ settings.banner_marcas_titulo_1 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_1 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_2%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_2 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_2) }}" alt="{{ settings.banner_marcas_titulo_2 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_2 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_3%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_3 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_3) }}" alt="{{ settings.banner_marcas_titulo_3 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_3 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_4%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_4 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_4) }}" alt="{{ settings.banner_marcas_titulo_4 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_4 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_5%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_5 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_5) }}" alt="{{ settings.banner_marcas_titulo_5 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_5 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_6%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_6 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_6) }}" alt="{{ settings.banner_marcas_titulo_6 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_6 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_7%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_7 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_7) }}" alt="{{ settings.banner_marcas_titulo_7 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_7 }}</h3>
            </div>
            {% endif %}
            {% if settings.banner_marcas_image_8%}
            <div class="swiper-slide">
                <a href="{{ settings.banner_marcas_link_8 }}" class="img">
                    <img src="{{ asset(settings.banner_marcas_image_8) }}" alt="{{ settings.banner_marcas_titulo_8 }}">
                </a>
                <h3>{{ settings.banner_marcas_titulo_8 }}</h3>
            </div>
            {% endif %}
            
        </div>
    </div>
</section>