{% if utils.is_mobile %}
{% set banner = banners.extra4 %}
{% else %}
{% set banner = banners.extra3 %}
{% endif %}

{% if banner %}
<section class="s-mini-banner">
    <div class="container">
        <div class="grid">
            {% for slide in banner.slides %}
            <a href="{{ slide.link }}" class="item" target="{{ slide.target }}">
                <img
                    src="{{ slide.image }}"
                    alt="{{ slide.label }}"
                    loading="lazy"
                >
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}