    <div class="cart-sidebar">
       <div class="header-cart">
           <div class="box-prev">
                <i class="ph ph-x"></i>
           </div>
           <div class="text">
                <span>Sacola</span>
                <span data-cart="amount" class="amount">0 produtos adicionados</span>
           </div>
       </div>
       {% if settings.show_freeshipping %}
       <div class="free-shipping" data-free-shipping="{{ settings.value_frete_gratis }}">
            <p class="free-shipping__text">
                Adicione mais <strong class="free-shipping__remaining">R$ 0,00</strong> e ganhe <strong>Frete Grátis</strong>
            </p>

            <div class="free-shipping__bar">
                <span class="free-shipping__bar-fill" style="width:0%"></span>
            </div>
        </div>
        {% endif %}
       <div class="content-cart empty">
           <div class="list">
               <div class="error">
                   <div class="text">Carrinho Vazio</div>
               </div>
           </div>
       </div>
       {% if settings.show_cart_related %}
       <div class="cart-related">
           <h4 class="cart-related-title">Você também pode gostar</h4>
           <div class="cart-related-carousel swiper">
               <div class="swiper-wrapper"></div>
           </div>
       </div>
       {% endif %}
       <div class="footer-cart">
           <div class="text-info">
               <div class="total">
                   <span>Subtotal:</span> 
                   <span class="value"></span>
               </div>
           </div>
           <div class="line">
               <a href="{{ links.cart }}" rel="nofollow" class="link-cart">Finalizar compra</a>
               <div class="box-prev">Continuar Comprando</div>
           </div>
       </div>
   </div>
   
   <div class="shadow-cart"></div>